# Polars Notebook â€” Unsolved

## 0. Setup

Welcome to **FastCart**, a fast-growing e-commerce startup ğŸš€  
Youâ€™ve just joined the analytics team, and this notebook will guide you through your
first exploratory tasks using **Polars**.

A synthetic dataset of **100,000 orders** has been created for you.


CheatSheet: https://franzdiebold.github.io/polars-cheat-sheet/Polars_cheat_sheet.pdf

In [ ]:
!pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.12/dist-packages (1.31.0)

In [ ]:
import polars as pl
import polars.selectors as cs

In [ ]:
pl.__version__

'1.31.0'

## 1. Creating Your First Polars DataFrame

In [ ]:
import polars as pl
import random

# ----------------------------
# Create full synthetic dataset
# ----------------------------
N = 100_000

cities = ["Valencia", "Madrid", "Sevilla", "Bilbao", "Barcelona"]
categories = ["Electronics", "Fashion", "Home", "Sports", "Toys"]

df = pl.DataFrame({
    "order_id": list(range(1, N + 1)),
    "user_id": [random.randint(1, 1200) for _ in range(N)],
    "value": [random.randint(5, 10000) for _ in range(N)],
    "units": [random.randint(1, 5) for _ in range(N)],
    "city": [random.choice(cities) for _ in range(N)],
    "category": [random.choice(categories) for _ in range(N)],
    "is_active": [random.choice([True, False]) for _ in range(N)],
    "has_discount": [random.choice([True, False]) for _ in range(N)],
})

In [ ]:
df.head()

shape: (5, 8)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ order_id â”† user_id â”† value â”† units â”† city      â”† category    â”† is_active â”† has_discount â”‚
â”‚ ---      â”† ---     â”† ---   â”† ---   â”† ---       â”† ---         â”† ---       â”† ---          â”‚
â”‚ i64      â”† i64     â”† i64   â”† i64   â”† str       â”† str         â”† bool      â”† bool         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1        â”† 180     â”† 8140  â”† 5     â”† Sevilla   â”† Electronics â”† false     â”† true         â”‚
â”‚ 2        â”† 541     â”† 5759  â”† 1     â”† Barcelona â”† Sports      â”† true      â”† true         â”‚
â”‚ 3        â”† 291     â”† 1984  â”† 3     â”† Madrid    â”† Toys        â”† true      â”† false        â”‚
â”‚ 4        â”† 125     â”† 3156  â”† 4     â”† Sevilla   â”† Electronics â”† false     â”† false        â”‚
â”‚ 5        â”† 151     â”† 7661  â”† 4     â”† Bilbao    â”† Home        â”† true      â”† false        â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

### Exercise â€” Selecting key fields

Management only wants to see:
- `order_id`
- `city`
- `value`
- `units`

Tasks:
1. Select these columns
2. Select ONLY numeric columns (dynamic selection)

In [ ]:
# TODO: direct selection

# TODO: select numeric columns
# df.select(cs.____())

### Exercise â€” Filtering high-value orders

Find all orders with:
- value > 9000

Then show only: city, value, category

ğŸ’¡ *Hint:* combine `.filter()` + `.select()`

### Exercise â€” Classifying orders by size

Create a new column `size_label`:

- "large"  â†’ value > 7000  
- "medium" â†’ 3000 < value â‰¤ 7000  
- "small"  â†’ otherwise  

ğŸ’¡ Hint: use `pl.when().then().otherwise()`

### Mini-exercise â€” Pipeline

Tasks:
1. Select city, value, units
2. Filter units â‰¥ 3
3. Add value_per_unit = value / units

### Exercise â€” Sorting

1. Sort by value (ascending)
2. Sort by units (descending)
3. Sort by city, then value

### Exercise â€” Dataset overview

1. Unique product categories
2. Describe numeric columns

hint: use unique()

### Mini-exercise â€” Category performance

1. Average value per category
2. Sort descending
3. Top 5 categories
4. Add an insight

In [ ]:
top_categories = (
    # df.group_by("category").agg(...).sort(...).head(...)
)

### Exercise â€” City performance

Compute per city:
- number of orders
- average value
- total units sold

In [ ]:
# df.group_by("city").agg([...])

result

### Mini-exercise â€” Active vs inactive users

Compare:
- count
- mean value
- max value

### Mini-exercise â€” Active vs inactive users

Compare active vs inactive users:

- number of orders
- average order value
- maximum order value

âš ï¸ Note:
Each aggregation must have a unique output column name.

## Exercise â€” Boolean logic & flags

Create a new column `is_high_value_active` that is:

- `true` if:
  - `value > 8000`
  - and `is_active = true`
- `false` otherwise

Return a sample of 10 rows showing:
- value
- is_active
- is_high_value_active

## Mini-exercise â€” Multiple filters

Find orders that:

- are from Madrid or Barcelona
- have units â‰¥ 2
- have value < 5000

Then show:
- city
- units
- value

In [ ]:
# TODO:
# - filter by city using is_in
# - filter by units
# - filter by value

df.filter(
    # TODO
).select(
    ["city", "units", "value"]
)

## Exercise â€” Derived metrics

Create two new columns:

- `value_per_unit` â†’ value / units
- `is_bulk_order` â†’ units â‰¥ 4

Return a sample of 10 rows.

In [ ]:
# TODO:
# - compute value_per_unit
# - create boolean flag is_bulk_order

df.with_columns([
    # TODO
]).select(
    ["value", "units", "value_per_unit", "is_bulk_order"]
).head(10)

## Mini-exercise â€” Ranking (basic)

Rank orders within each city by value:

- highest value â†’ rank 1

Show:
- city
- value
- rank in city

In [ ]:
# TODO:
# - rank by value
# - partition by city
# - descending order

df.with_columns(
    # TODO
).select(
    ["city", "value", "rank_in_city"]
).head(10)

## Exercise â€” City summary table

Build a summary table per city with:

- number of orders
- total value
- average value
- maximum value

Sort results by total value descending.

Note:
Each aggregation must have a unique output column name.

In [ ]:
# TODO:
# - group by city
# - compute count, sum, mean and max
# - use aliases
# - sort by total value

df.group_by("city").agg([
    # TODO
]).sort(
    # TODO
)